# ===================================================================
# tpDcc-dccs-unreal requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt