# ===================================================================
# tpDcc-dccs-unreal requirements file
# ===================================================================

euclid
tpDcc-core
tpDcc-libs-python
tpDcc-libs-qt